<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>НЕТ-Терроризму</title>
	<link rel="stylesheet" type="text/css" href="static/css/Style.css">
	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>
	<div class="header">
		<div class="menu_words"> 
			<div class="img"><a href="#" class="btn_up"><img class="logo" img src="/static/img/a.png" /></a></div>
			<div class="button opisanie dicip">
				<a href="#">Описание</a>
			</div>
			<div class="button">
				<a href="/login">Оставить отзывы</a>
			</div>
			<div class="button">
				<a href="#" id="theame">Поменять тему</a>
			</div>
		</div>
	</div>

	<div class="obertka_disc dicip3">
		<div class="disc_button button1 "><a href="#main">Документы</a></div>
		<div class="disc_button button2 "><a href="#jj">Памятка</a></div>
		<div class="disc_button button3 "><a href="#kk">Школа</a></div>
		<div class="disc_button button4 "><a href="#ll">Медиотека</a></div>
	</div>
<div class="header2_obertka">

	<header class="header2">
			<nav class="navigation">
				<section class="navigation_icon" >
					<span class="topbar" ></span>
					<span class="midlebar" ></span>
					<span  class="footerbar"></span>
				</section>
				<ul class="navigation_ul">
					<li><a href="https://antiterror.ru/" target="-_blank">Проект Россия Антитеррор </a></li>
					<li><a target="_blank" href="http://nac.gov.ru/"<h7>Антитеррористи-ческий комитет</a></li>
					<li><a target="_blank" href="http://www.fsb.ru/">Сайт "ФСБ"</a></li>
					<li><a target="_blank" href="http://azbez.com/safety/antiterror">Азбука безопасности</a></li>
				</ul>
			</nav>
	</header>

	<div class="TITLEe">
		<div class="title">
			<h1>Нет - Терроризму</h1>
			<br></br>
			<p>Голова террориста – террариум безумия. (Константин Мадей)</p>
<br></br>
			<p>Терроризм - это высшая стадия фашизма. (Гарри Симанович)</p>
			<p id="p_example" style="margin-top: 50px; margin-bottom: 100px;"></p>
		</div>
		</div>
	</div>
</div>

	</div>
	<div id="main">
			
	</div>
<div class="line4"></div>
	<div class="titile_IT_Jump_Pro"><h1>Нормативные документы</h1></div>

		<div class="container">
			<div class="cartachka">
				<div class="imgBox">
					<img src="/static/img/Teg.png" />
				</div>
				<div class="details">
					<h2>Ссылки
					<p><a href="https://www.mchs.gov.ru/dokumenty/5230 " target="_blank">1)Постановление Правительства РФ</a> 
					<p><a href="" target="_blank"></a> 

					<a href="https://www.mchs.gov.ru/dokumenty/5229" target="_blank">2)Распоряжение Правительства РФ</a>  
					<p><a href="" target="_blank"></a> 
					<a href="https://www.mchs.gov.ru/dokumenty/5227" target="_blank">3)Указ Президента РФ от 13.09.2004</a>
    					<p><a href="" target="_blank"></a> 
					<a href="https://www.mchs.gov.ru/dokumenty/2940" target="_blank">4)Военная доктрина Российской Федерации</a>
					<p><a href="" target="_blank"></a> 
					</p>
				</div>
			</div>
			<div class="cartachka">
				<div class="imgBox">
					<img src="/static/img/Ptn.png" />
				</div>
				<div class="details">
					<h2>Терроризм -</h2>
					<p> преступление, главной целью которого является нарушение общественной безопасности, которое выражается в посягательстве на: жизнь и здоровье граждан, объекты критической инфраструктуры, природную среду, информационную среду, органы государственного управления, государственных и общественных деятелей.</p>
				</div>
			</div>
			<div class="cartachka">
				<div style="display: flex; justify-content: center; align-items: center; font-size: 28px; color: #fff; " class="imgBox">
					<h1>СТОП!</h1>
				</div>
				<div class="details">
					<h2>Виды терроризма -</h2>
					<p class="tit">1)Неорганизованный или индивидуальный 2)Организованный, коллективный 3)Национальный. 4)Идеологически заданный, социальный</p>
				</div>
			</div>
		</div>
<div class="line3"></div>
	<div class="container" style="margin: 2px; float: right; margin-top: 38px; margin-right: 120px;">
		
	</div>
<div id="jj" class="lll" ></div>
<div class="titile_IT_Jump_Pro"><h1>Памятка о действиях в различных ситуациях</h1></div>

	<div class="flip_container">
		<div class="flip">
  			<div class="card">
    			<div class="front"><h1>При угрозе теракта</h1>
    				<p></p>
    			</div>

    			<div class="back"><h5>Всегда контролируйте ситуацию вокруг себя, особенно, когда находитесь на объектах транспорта, культурно-развлекательных, спортивных и торговых центрах.При взрыве или начале стрельбы немедленно падайте на землю, лучше под прикрытие (бордюр, торговую палатку, машину и т.п.). Для большей безопасности накройте голову руками.</h5></div>
  			</div>
		</div>
		<div class="flip">
    		<div class="card">
    			<div class="front"><h1>Подозрительный предмет</h1>
    				<p></p></div>
    			<div class="back"><h5>- если вы обнаружили неизвестный предмет в подъезде своего дома, опросите соседей, возможно, он принадлежит им. Если владелец не установлен – немедленно сообщите о находке в ваше отделение полиции. - если вы обнаружили неизвестный предмет в учреждении, немедленно сообщите о находке администрации или охране.</h5></div>
  			</div>
		</div>
		<div class="flip">
  			<div class="card">
    			<div class="front"><h1>Рекомендации по правилам поведения</h1>
    				<p>во время захвате и удержания заложников</p>
    			</div>
    			<div class="back"><h5>Беспрекословно выполнять требования террористов, если они не несут угрозы вашей жизни и здоровью.Постарайтесь отвлечься от неприятных мыслей.Осмотрите место, где вы находитесь, отметьте пути отступления укрытия.Старайтесь не выделяться в группе заложников.Если вам необходимо перейти на другое место, спрашивайте разрешения.</h5></div>
  			</div>
		</div>
	</div>
<div id="kk" class="lll" ></div>
	<div class="container" style="margin: 2px; float: right; margin-top: 38px; margin-right: 120px;">
		
	</div>
<div class="line"></div> 
		
		<div class="titile_IT_Jump_Pro"><h1>Антитеррористическая безопасность в школе</h1></div>

		<div class="flip_container">
			<div class="flip">
	  			<div class="card">
	    			<div class="front"><h1>Защита детей</h1>
	    				<p></p>
	    			</div>

	    			<div class="back"><h5>Глобальная задача как родителей, так и педагогов в школах и детских садах. Сегодня понятие «терроризм» прочно вошло в наш лексикон, и любому взрослому нужно знать не только, что самому делать в экстренной ситуации, но и как помочь детям, оказавшимся рядом.</h5></div>
	  			</div>
			</div>
			<div class="flip">
	    		<div class="card">
	    			<div class="front"><h1>Какие требования установлены законом</h1>
	    				<p>по антитеррору в образовательных учреждениях</p></div>
	    			<div class="back"><h5>Для школ. За антитеррористическую безопасность в школах отвечает администрация вместе с муниципальными властями и правоохранительными органами населенного пункта. Требования для школ такие:</h5></div>
	  			</div>
			</div>
			<div class="flip">
	  			<div class="card">
	    			<div class="front"><h1>Какие требования установлены законом</h1>
	    				<p>по антитеррору в образовательных учреждениях</p>
	    			</div>
	    			<div class="back"><h5>Составить паспорт антитеррористической защищенности.Постоянно контролировать противопожарную и электробезопасность.Обучать персонал и учеников мероприятиям по гражданской обороне и улучшать оснащение школы.Общаться с родителями и объяснять, как они могут повлиять на безопасность.</h5></div>
	  			</div>
			</div>
		</div>
		

<div class="obertka_for_best_people">
<div id="ll" class="lll"></div>
	<div class="container" style="margin: 2px; float: right; margin-top: 38px; margin-right: 120px;">
		
	</div>
<div class="line5"></div>

		<div class="title_for_big_people">
			<h1>Медиатека</h1>
			<!-- <p></p> -->
		</div>

		<div class="big_people">
			<div class="BOX">
				<div class="imgBx">
					<img src="/static/img/men1.jpg" />
				</div>
				<div class="layer layer1"></div>
				<div class="layer layer2"></div>
				<div class="contentBx">
					<div class="text_big_people">
						<h2>Теракт в Беслане</h2>
						<p>

						<br/>
						Утром 1 сентября 2004-го во время линейки по случаю Дня знаний группа террористов под руководством Руслана Хучбарова захватила 1100 заложников. 3 сентября в школе прогремело несколько взрывов, начался пожар. Во время штурма погибли 333 человека, большинство из них — дети. Также во время спецоперации погибли 10 сотрудников ФСБ. Они прикрывали собой детей, выводя из здания школы.После трагедии было заложено кладбище «Город ангелов», где похоронено большинство жертв теракта. В 2005-м на территории мемориала открыли памятник «Древо скорби» в виде бронзовой статуи, состоящей из фигур женщин с поднятыми к небу руками, из которых разлетаются ангелы — погибшие дети Беслана. Здание школы решили не реставрировать, а над спортивным залом, где держали заложников, возвели купол, под которым расположился мемориал. Школа № 1 города Беслана существует до сих пор, но уже в новом здании.  <a href="https://www.youtube.com/watch?v=d7tiDaVI_hw">"Фильм Александра Рогаткина"</a>
						<br>
						<br/>
					
						</p>

					</div>
				</div>
			</div>
			<div class="BOX">
				<div class="imgBx">
					<img src="/static/img/Big_people2.jpg" />
				</div>
				<div class="layer layer1"></div>
				<div class="layer layer2"></div>
				<div class="contentBx">
					<div class="text_big_people">
						<h2>Взрывы в метро</h2>
						<p>Первый раз в истории современной России поезда подземки взорвали в 1996-м. Самодельное взрывное устройство было спрятано в сиденье поезда московского метрополитена, двигавшегося с «Тульской» в сторону станции «Нагатинская». В результате теракта погибли четыре человека. Ответственность за теракт взяли на себя террористы из Чечни.Следующая трагедия произошла не в метро, а в подземном переходе к станциям «Пушкинская», «Тверская» и «Чеховская». 8 августа 2000-го из-за взрыва погибли 13 человек, ранено — 118.6 февраля 2004-го в поезде, следовавшего от станции «Автозаводская» до «Павелецкой» произошел очередной взрыв. Теракт унес жизни 41 человека, а пострадавших было более 250. Серия взрывов в московском метрополитене произошла в 2010-м. Сразу на двух станция «Лубянка» и «Парк культуры» произошли мощные взрывы, которые унесли жизни 41 человека.<a href="https://www.youtube.com/watch?v=fdCLRjIeYfI">"Хронология теракта в Московском метрополитене."</a>	</p>
					</div>
				</div>
				
			</div>
			<div class="BOX imgB0x">
				<div class="imgBx">
					<img src="/static/img/men2.jpg" />
				</div>
				<div class="layer layer1"></div>
				<div class="layer layer2"></div>
				<div class="contentBx">
					<div class="text_big_people">
						<h2>Взрывы домов</h2>
						<p>В сентябре 1999-го произошла серия взрывов жилых домов в Москве, Буйнакске и Волгодонске. С 4 по 16 сентября террористы подорвали четыре многоквартирных дома. Первый взрыв прогремел в дагестанском городе Буйнакск 4 сентября: жертвами стали 64 человека. Второй взрыв произошел 8 сентября в Москве на улице Гурьянова, в результате чего два подъезда дома были уничтожены, погибли 100 человек. На месте взрыва специалисты обнаружили следы гексогена. Изготовить его в домашних условиях невозможно. До сих пор нет ответа на вопрос, где террористы могли достать вещество.Третий террористический акт снова произошел в столице 13 сентября в жилом доме на Каширском шоссе. Здание было полностью разрушено, погибли 124 человека. Четвертый взрыв прогремел в Волгодонске 16 сентября, погибли 18 человек. На местах всех разрушенных взрывами домов открыли памятники жертвам и разбили скверы.
<a href="https://www.youtube.com/watch?v=rDDiyXT1CRI">"Взрыв жилого дома в Москве "</a>
 
						</p>
					</div>
				</div>
			</div>
		</div>
</div>



	<div class="footter">
		<p></p>
		<p>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#butbigtext1").on('click',function(){
				$(".exit").toggleClass('eexit');
				$(".exit").toggleClass('exit');
				$('.textbig1').toggleClass('textbig11');
				$('.textbig1').toggleClass('textbig1');
				$('.bigtext').toggleClass('bigtexth');
				$('.bigtext').toggleClass('bigtext');
				$('.butt_content').toggleClass('butt_contenth');
				$('.butt_content').toggleClass('butt_content');

			});
			$(".exit").on('click',function(){
				$(".eexit").toggleClass('exit');
				$(".eexit").toggleClass('eexit');
				$('.textbig11').toggleClass('textbig1');
				$('.textbig11').toggleClass('textbig11');
				$('.bigtexth').toggleClass('bigtext');
				$('.bigtexth').toggleClass('bigtexth');
				$('.butt_contenth').toggleClass('butt_content');
				$('.butt_contenth').toggleClass('butt_contenth');
			});
	        $("a[href^='#main']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
			$("a[href^='#jj']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
	        $("a[href^='#vv']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
	        $("a[href^='#kk']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
	        $("a[href^='#ll']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
	        $("a[href^='#zz']").click(function(){
	            var _href = $(this).attr("href");
	            $("html, body").animate({scrollTop: $(_href).offset().top+"px"});
	            return false;
	        });
			$("#theame").click(function(){
				$("body").toggleClass('title_example');
			});
	        $(".btn_up").click(function(){
	        	$('body').animate({'scrollTop':0}, 1000);
	        	$('html').animate({'scrollTop':0}, 1000);
	        });
			$(".navigation_icon").click(function(){
				$(".navigation").toggleClass('navigation-open');
				$(".TITLEe").toggleClass('for_titlee');
			});
			$(".Glavnaya").click(function(){
				$(".navigation").toggleClass('navigation-open');
				$(".TITLEe").toggleClass('for_titlee');
			});
			$('.dicip').mouseenter(function(){
				$('.obertka_disc').show();
			});
			$('.dicip3').mouseleave(function(){
				$('.obertka_disc').hide();
			});
		});
	</script>
</body>
</html>
